In [30]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)

In [31]:
df = pd.read_csv("sample_text.csv")
df.shape

(8, 2)

In [32]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [33]:
from sentence_transformers import SentenceTransformer
encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text)
vectors.shape

(8, 768)

In [34]:
dim = vectors.shape[1]
dim

768

In [35]:
import faiss

index = faiss.IndexFlatL2(dim)
index

In [36]:
index.add(vectors)

In [37]:
search_query="looking for places to visit during the holidays"

vec = encoder.encode(search_query)
vec.shape

(768,)

In [38]:
import numpy as np
svec = np.array(vec).reshape(1,-1)
svec.shape

(1, 768)

In [39]:
distance, I = index.search(svec, k=2)

In [40]:
I

array([[6, 7]])

In [41]:
df.loc[I[0]]

,text,category
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [42]:
search_query

'looking for places to visit during the holidays'

In [43]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel